# Python
__pycache__/
*.py[cod]
*.pkl
.env
.env.local
ml/proj-venv/

# Data
ml/data/processed/
ml/data/raw/

# Jupyter
.ipynb_checkpoints/
ml/.jupyter/

# OS
.DS_Store
Thumbs.db

# Node/Frontend
frontend/predictor-app/node_modules/
frontend/predictor-app/dist/
.vercel/
*.log