# Python
__pycache__/
*.py[cod]
*.pkl
.env
ml/proj-venv/

# Data (processed only — keep raw)
data/processed/
ml/data/raw/hh_combined.csv
ml/data/raw/hl_combined.csv

# Jupyter
.ipynb_checkpoints/
.jupyter/

# OS
.DS_Store
Thumbs.db
