form {
    margin: 2rem auto;
    padding: 1rem;

    border: 1.5px solid #240046;
    border-radius: 20px;

    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.58), 
        0 6px 20px 0 rgba(0, 0, 0, 0.444);

    display: flex;
    flex-direction: column;

    width: 40rem;
}

form label {
    font-weight: 600;
    font-size: 18px;
}

form button[type=submit] {
    background-color: #5A189A;
    color: #e0e1dd;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    margin: 6px auto;
}

form .input-box {
    /* border: 2px solid #212529; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
}

form .input-box input {
    background-color: transparent;
    border: 2px solid #3C096C;
    border-radius: 12px;

    padding: 8px 10px;
    margin: 10px 0 4px 0;

    font-size: 14px;
    color: white;
}

form .input-box input:focus {
    outline: 2px dotted #E0AAFF;
}

.divider-line {
    height: 1.2px;
    margin: 14px 0px;
    background-color: #3C096C;
}

.divider-space {
    margin: 14px 0px;
}